.color-bends-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}

.color-bends-container canvas {
  display: block !important;
  width: 100vw !important;
  height: 100vh !important;
}
